SoapClient/src/main/resources/greeting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://springtraining/greeting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="FirstName"/>
        <xs:element type="xs:string" name="LastName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Greeting" type="xs:string"/>
</xs:schema>